<div>
  <% @products.each do |product| %>
    <p><%= product.name %></p>
  <% end %>
</div>

<div class="flex">
  <% @categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
</div>

<div class="flex space-x-2">
  <% @subcategories.each do |subcategory| %>
    <p><%= subcategory.name %></p>
  <% end %>
</div>